.intro-container{
  // max-width: 2000px;
// margin: 0 auto;
}

.intro h1{
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
  font-size: 6em;
  text-shadow: 2px 2px 5px darkgrey;
}

.intro h3{
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
  font-size: 4em;
  text-shadow: 2px 2px 5px darkgrey;
}
