<div class="navbar-header">
  <ul class="navbar-list">
    <%= link_to "home", root_path %>
    <img src="https://cdn-icons-png.flaticon.com/512/4205/4205637.png",   class="puzzle_header">
    <%= link_to "scorebord", welcome_scorebord_path %>
    <img src="https://cdn-icons-png.flaticon.com/512/4205/4205637.png",   class="puzzle_header">
    <%= link_to "spelregels", welcome_spelregels_path %>
  </ul>
</div>
