

<div class="intro-container">
  <div class="intro">
    <h1>Welkom bij de jaarlijkse puzzelwedstrijd van de familie Van der Ree om te bepalen wie zich de puzzelkoning of koningin van de familie mag noemen</h1>
  </div>
  <br>
  <div class="intro">
    <h3>De eerste wedstrijd vind plaats op 12 feburari 2023 om 13:00 uur online</h3>
    <h3>De winnaar mag zich een heel jaar de puzzelkampioen noemen en zal door iedereen geprezen worden om zijn/ haar prestatie. </h3>
  </div>
</div>
