<div class="container">
  <div class="intro">
    <h1>De jaarlijkse puzzelwedstrijd van de familie Van der Ree om te bepalen  wie  de puzzelkoning of koningin van de familie mag noemen</h1>
  </div>

  <%= link_to "Naar het scorebord", welcome_scorebord_path %>
  <%= link_to "Naar de spelregels", welcome_spelregels_path %>
</div>
