<div class="scorebord">
    <h2> scorebord</h2>
    <table>
      <tr>
        <th>Naam</th>
        <th>Tijd</th>
        <th>Aantal puzzelstukjes over</th>
      </tr>
    </table>
    <a href="http://google.com">2024</a>
</div>
