<div class="spelregels-container">
  <div class="spelregels">
      <h2>De spelregels:</h2>
          <ol class="spelregels">
            <li>De wedstrijd duurt 3 uur</li>
            <li>Livia en Olav zijn de scheidsrechters</li>
            <li>Totdat de scheidsrechters het begin van de test aangeven en de timer starten, kunnen de deelnemers de legpuzzeldozen die op tafel liggen niet manipuleren, het folie verwijderen of openen</li>
            <li>In het geval van verloren stukken worden 10 seconden per verloren stuk toegevoegd aan de eindtijd</li>
            <li>Hulp tijdens de wedstrijd van iemand anders dan de deelnemer kan reden zijn voor diskwalificatie</li>
            <li>De deelnemer die de puzzel als eerste binnen de 3 uur heeft opgelost of na 3 uur de meeste puzzelstukjes op de juste plek heeft liggen heeft gewonnen</li>
            <li>Puzzelstukjes op de juiste plek moeten minimaal met 1 ander puzzelstukje verbonden zijn
            </li>
          </ol>
  </div>
</div>
