<div class="spelregels">
    <h2>De spelregels:</h2>
        <ol>
          <li>De test duurt 3 uur</li>
          <li>Until the host indicates the start of the test and starthe timer, the participants cannot manipulate, unseal or opthe jigsaw puzzle boxes that are on the table.</li>
          <li>In the case of lost pieces, 10 seconds will be added feach lost piece to the final time.</li>
          <li>Any help during the competition from someone other than tparticipants may be grounds for disqualification.</li>
          <li>De test duurt 3 uur</li>
        </ol>
</div>
