ul {
  margin: 7px;
  padding: 22px 80px 25px 1500px;
  overflow: hidden;
  background: rgba(0, 151, 19, 0.6);
  width: -webkit-fill-available;
  align-items: center;
  opacity: .5;

}

.navbar-list a{
  color: beige;
  font-weight: 300;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lobster Two', cursive;
  text-shadow: 2px 2px 5px darkgrey;
  line-height:34px;
    text-align:center;
    letter-spacing:2px;
    padding:0 40px;
    overflow:hidden;
}

a:hover{
  color: rgb(12, 51, 6);
}

.puzzle_header{
  width: 50px;
  height: 50px
}
